<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>

<body>

<form th:method="POST" th:action="@{/people/{id}(id=${editedPerson.getId()})}" th:object="${editedPerson}">
    <label for="input-name">Enter name of edited person</label>
    <input type="text" th:field="*{name}" id="input-name"/>
    <br>
    <label for="input-age">Enter age</label>
    <input type="text" th:field="*{age}" id="input-age"/>
    <br>
    <label for="input-email">Enter email</label>
    <input type="text" th:field="*{email}" id="input-email"/>
    <br>
    <input type="submit" value="Edit person">
</form>
<br>

</body>

</html>